<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="dashboard-student">
    <video autoplay muted loop id="bg-video">
        <source src="{{ url_for('static', filename='videos/112722-695433093.mp4') }}" type="video/mp4">
    </video>

    <div class="dashboard-container">
        <h1>{{ title }}</h1>
        <p>Hier komt de inhoud van hoofdstuk {{ chapter }}.</p>

        <a href="{{ url_for('dashboard_student') }}" class="extra-link">Terug naar Dashboard</a>
    </div>
</body>
</html>
